
.header{
    /* background-image: linear-gradient( 135deg, rgb(48, 48, 51) 10%, #414345 100%); */
    background: url('../../media/phonetest.jpg'), linear-gradient( 135deg, rgb(48, 48, 51) 10%, #414345 100%) ;
    background-size: cover;
    background-repeat: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.445);
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    
}
.header > div {
    color: white;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px 15px 15px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.grow {
    transition: 0.4s;
    height: 270px;
    
}

.shrink {
    transition: 0.4s;
    height: 60px;
}




.header > div h1{
    font-family: 'Lobster', sans-serif;
    color: white;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 32px;
    text-shadow:  1px 1px 2px rgba(0, 0, 0, 1);
}

.header > div > div:first-child {
    width: 500px;
    display: flex;
    align-content: center;
    align-items: center;

    
}

.header > div > div:first-child img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    transform: rotate(0deg);
    
}

.header > div > div:last-child ul {
    position: absolute;
    top:60px;
    left: 0;
    right: 0;
    list-style-type: none;
    width: 100%;
    text-align: center;
    font-size:18px;
}

.header > div > div:last-child ul a {
    text-decoration: none;
    color: white;
}

.header > div > div:last-child .show-menu{
    
    
    display: initial;
}

.header > div > div:last-child .hide-menu{

   display: none;
}

.header > div > div:last-child button {
    background-image: linear-gradient( 135deg, rgb(48, 48, 51) 10%, #414345 100%);
    color: white;
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
    width: 40px;
    height: 30px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.445);
    border: 2px solid grey;

}

.header > div > div:last-child ul li {
    padding: 15px;
}


.header > div > div:last-child ul li:hover {
    background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);
    font-weight: bolder;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.header > div > div:last-child ul li {
    text-shadow: 1px 1px 5px black;
    font-size: 20px;
}



.user-reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.445);
    padding: 20px;
}

.user-reviews >div:first-child {
    display: flex;
    flex-direction: column;
}


@media (min-width: 768px){

    
}

@media (min-width: 991px){
   
    .header > div {
        
        padding-right: 40px;
        align-items: center;
        transition: 0.5s;
        height: 60px;
    }

    .header > div > div {
        display: flex;
    }
 
    .header > div > div:first-child img  {
        width: 200px;
        height: 200px;
        transform: rotate(0deg);  
        padding: 15px 40px 15px 15px;   
    }

    .grow {
        transition: 0.5s;
        height: 60px;
        
    }
    
    .shrink {
        transition: 0.5s;
        height: 60px;
    }

    .header > div > div:first-child {
        width: 500px;
        display: flex;
        
        
    }

    .header > div > div:last-child .show-menu{
        display: flex;
    }
    
    .header > div > div:last-child .hide-menu{
        display: flex;
    }


    .header .button-menu button {
        display: none;
    }
    .header > div > div:last-child ul {
        display: flex;
        position: initial;
        list-style-type: none;
        width: 300px;
        margin-right: 105px;
    }

    .header > div > div:last-child ul li {
        text-shadow: none;
    }

}

@media (min-width: 1200px){

   
    .header > div {
        width: 1200px;
        padding: 35px 0px;
        
    }

    .grow {
        transition: 0.5s;
        height: 70px;
        
    }
    
    .shrink {
        transition: 0.5s;
        height: 70px;
    }

    .header > div > div:last-child ul {
        
        margin-right:120px;
    }


    .header > div > div:first-child {
        
        display: flex;
    }


}

@media (min-width: 1350px) {
    .header > div > div:last-child ul {
        
        margin-right: 45px;
    }
}