.add-post-container{
    /* background: linear-gradient( 135deg, rgba(94, 252, 232, 0.5), rgba(115, 110, 254, 0.5)), url('../../media/account.jpg');    min-height: 100vh; */
    background: #F9F9F9;
    min-width: 100vw;
    background-size: cover;
    
}

.add-post-container .approval-message {
    color: rgb(67, 228, 67);
    text-shadow: 1px 1px 2px black;
    padding: 5px;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}



.add-post-display {
    width: 100%;
    max-width: 1200px;
    /* background:linear-gradient( 135deg, rgba(94, 252, 232, 0.5), rgba(115, 110, 254, 0.5)); */
    background: transparent;
    margin: 0px auto;
    text-align: center;
    border-radius: 4px;
}

.add-post-display > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.add-post-display > div > div {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    justify-content: center;
    align-items: center;
}

.add-post-display .options {
    width: 300px;
    height: 40px;
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 16px;
    background: white;
    border: none;
    margin: 5px 0px;
}

.add-post-display {
    padding: 10px;
}

.add-post-display .add-post-input {
    min-width: 100%;
    margin: 10px 0px;
    
}

.add-post-display .add-post-input input {
    width: 100%;
    height: 40px;
    margin: 5px auto;
    border-radius: 2px;
    border: none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.445); 
}

.add-post-display .item-description-input .quill{
    
    background: white;
    width: 100%;
    border-radius: 2px;
    border: none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.445); 
    height: 200px;
    margin: 5px auto 35px;
    overflow: scroll;
    
}


.add-post-display  button {
    width: 200px;
    height: 40px;
    color: white;
    font-weight: bolder;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    margin: 10px;
    background: linear-gradient( 135deg, #70F570 10%, #49C628 100%);
}

.add-post-display .price-condition {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.add-post-display .price-condition > div {
    display: flex;
    flex-direction: column;
}

.add-post-display .total-image-uploads{
    display: flex;
    flex-direction: column;
}

.upload-images-container {
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.image-uploads {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-uploads > img {
    width: 100px;
    padding: 5px;
}
.add-post-display .condition-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.add-post-display .pricebox {
    height: 40px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.445); 
    font-size: 16px;
    font-weight: bolder;
    border: none;
    border-radius: 2px;
}

.add-post-display .condition-container > div{
    padding: 15px;
    
}

.add-post-display .condition-container span {
    display: block;
}

.add-post-display select {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.445); 
    border-radius: 2px;
}

.add-post-display .nodisplay {
    display: none;
}



@media (min-width: 768px){

    .add-post-display .total-image-uploads{
        display: flex;
        flex-direction: row;
    }

    .add-post-display .image-uploads {
        display: flex;
        flex-direction: row;
    }
    .add-post-display .add-post-input textarea {
        min-width: 80%;
        font-size: 16px;
    }

    .add-post-display .add-post-input input {
        width: 100%;
        font-size: 16px;
    }

    .add-post-display .condition-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
}

