.posts{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.posts > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 5px;

}

.posts > div > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 2px;
    padding:20px;
    background: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.445);
}

.posts > div > .name-time .item-name {
    font-size: 20px;
}

.posts .pic-description {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.posts .pic-description .pic {
    flex: 1;
    
}

.posts .pic-description .pic img{
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.445);
}

.posts .pic-description .description {
    width: 100%;
    margin: 0px;
    border-radius: 2px;
    background: white;
    flex: 3;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.445);
}
.posts .pic-description .description > span {
    /* background: linear-gradient( 135deg, rgb(48, 48, 51) 10%, #414345 100%); */
    background: #777777;
    color: white;
    border-radius: 2px 2px 0px 0px;
    padding: 10px;
    width: 100%;
    display: block;
}

.posts .item-description-info div:first-child{
    display: flex;
    flex-direction: column;
}

.posts .item-description-info div:nth-child(2) {
    text-align: initial;
}



.posts .pic-description .description > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.posts .pic-description .description > div > div:first-child{
    flex: 1;
    font-size: 14px;
    
}

.posts .pic-description .description > div > div:first-child span {
    font-size: 18px;
    font-weight: bolder;
}
.posts .pic-description .description > div > div:nth-child(2) {
    flex: 5;
    padding: 10px;
    
}

.posts .pic-description .description > div > div:nth-child(2) li {
    list-style-type: initial;
}

.posts .pic-description .description .posting-price {
    font-size: 17px;
    flex: 1;
    font-weight: bolder;
    color: green;
    display: none;
}

.posts .title-posting-price {
    font-size: 24px;
    font-weight: bolder;
    color: green;
}

.posts .thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.posts .thumbnails *+* {
    margin: 0px 10px;
}

.posts .pic-description .pic .thumbnails img {
    width: 30%;
}

.posts .postedby {
    font-size: 16px;
    color: black;

}

.posts > div > .name-time .username {
    font-weight: bolder;
    font-size: 18px;
}

.posts > div > .name-time .username:hover {
    color: blue;
    cursor: pointer;
}

@media (min-width:768px) {
    .posts .pic-description {
        width: 100%;
        margin: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .posts .pic-description .description {
       
        margin: 0px 0px 0px 20px;
        
    }

    .posts > div > .name-time .item-name {
        font-size: 34px;
    }

    .posts .pic-description .description .posting-price {
        font-size: 24px;
        flex: 1;
        font-weight: bolder;
        display: initial;
    }

    .posts .title-posting-price {
        display: none;
    }
}

@media (min-width:991px) {
    .posts .pic-description .description .posting-price {
        font-size: 28px;
        
    }
}