.full-posting-container .footer{
  position: absolute;
  
}



.posts{
    max-width: 1200px;
    margin: 0 auto 40px;
    width: 100%;
}

.posts > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 5px;

}

.posts > div > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 2px;
    padding:20px;
    background: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.445);
}

.posts > div > .name-time .item-name {
    font-size: 20px;
}

.posts .pic-description {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.posts .pic-description .pic {
    flex: 1;
    
}

.posts .pic-description .pic img{
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.445);
}

.posts .pic-description .description {
    width: 100%;
    margin: 0px;
    border-radius: 2px;
    background: white;
    flex: 3;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.445);
}
.posts .pic-description .description > span {
    /* background: linear-gradient( 135deg, rgb(48, 48, 51) 10%, #414345 100%); */
    background: radial-gradient( #6E6E6E, #2c3e50);
    color: white;
    border-radius: 2px 2px 0px 0px;
    padding: 10px;
    width: 100%;
    display: block;
}

.posts .item-description-info div:first-child{
    display: flex;
    flex-direction: column;

}

.posts .item-description-info div:first-child > span:nth-child(1) {
    margin: 0px 0px 10px;
}

.posts .item-description-info div:nth-child(2) {
    text-align: initial;
}



.posts .pic-description .description > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.posts .pic-description .description > div > div:first-child{
    flex: 1;
    font-size: 14px;
    
}

.posts .pic-description .description > div > div:first-child span {
    font-size: 18px;
    font-weight: bolder;
}
.posts .pic-description .description > div > div:nth-child(2) {
    flex: 5;
    padding: 10px;
    
}

.posts .pic-description .description > div > div:nth-child(2) li {
    list-style-type: initial;
}

.posts .pic-description .description .posting-price {
    font-size: 17px;
    flex: 1;
    font-weight: bolder;
    color: green;
    display: none;
}

.posts .title-posting-price {
    font-size: 24px;
    font-weight: bolder;
    color: green;
}

.posts .thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.posts .thumbnails *+* {
    margin: 0px 10px;
}

.posts .pic-description .pic .thumbnails img {
    width: 30%;
}

.posts .postedby {
    font-size: 12px;
    color: black;
    font-weight: bolder;
    
    
}

.posts > div > .name-time .username {
    font-weight: bolder;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.posts > div > .name-time .username  img {
    margin: 0 5px 0 0;
}

.posts > div > .name-time .username:hover {
    color: blue;
    cursor: pointer;
}

.posts .contact-button {
    width: 150px;
    font-size: 16px;
    height: 40px;
    border-radius: 2px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.445);
    border: none;
    background: linear-gradient( 135deg, #70F570 10%, #49C628 100%);
    color: white;
    font-weight: bolder;
}

.posts button:active {
    box-shadow:none;
    
}



@media (min-width:768px) {
    .posts .pic-description {
        width: 100%;
        margin: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .posts .pic-description .description {
       
        margin: 0px 0px 0px 20px;
        
    }

    .posts > div > .name-time .item-name {
        font-size: 34px;
    }

    .posts .pic-description .description .posting-price {
        font-size: 24px;
        flex: 1;
        font-weight: bolder;
        display: initial;
    }

    .posts .title-posting-price {
        display: none;
    }
}

@media (min-width:991px) {
    .posts .pic-description .description .posting-price {
        font-size: 28px;
        
    }

    .posts .postedby {
        font-size: 16px;
        color: black;
    
    }

    .posts .date-posted {
        font-size: 16px;
        color: black;
    
    }
}