.edit-account {
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.edit-account > h1 {
    margin-bottom: 10px;
    color: #333333;
}

.edit-account .username {
    color: #333333;
    margin-bottom: 10px;
}

.edit-account > div:nth-child(2) {
    font-size: 24px;
}

.edit-account > .change-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.edit-account .image-container {
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.445);
}

.edit-account .image-container img {
    width: 200px;  
}

.edit-account .change-info-container > *+* {
    margin: 0px 10px;

}

.edit-account .change-info-container .change-description {
    flex: 3;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    color: #333333;
}

.edit-account .change-info-container .change-description > *+* {
    margin: 10px 0px;
}

.edit-account .change-info-container .change-description {
    flex: 2;
}

.edit-account .change-info-container > div {
    background: transparent;
    border-radius: 4px; 
}

.edit-account .change-info-container > div {
    padding: 20px;
} 

.edit-account .change-info-container .change-image {
    
    flex:1;
}

.edit-account .change-info-container .change-other-info *+* {
    margin: 10px;
    
}

.edit-account .change-info-container .change-other-info {
    flex:2;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color:#333333;
    font-weight: bolder;
}
.edit-account .change-info-container .change-other-info > div{
    display: flex;
    flex-direction: column;
}

.edit-account .change-info-container .change-image .upload-form {
    
    color: grey;
    font-weight: bolder;
    font-size: 16px;
    margin-top: 20px;
}

.edit-account button {
    background: linear-gradient( 135deg, #70F570 10%, #49C628 100%);
    color: white;
    margin: 20px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    border-radius: 4px;
    border:none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    text-shadow: 0.5px 0.5px 2px black;
}



.edit-account .update-cancel {
    
    background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
}

.edit-account .change-other-info .enter-social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.edit-account .change-other-info input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    background: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.445);
    
}
@media (min-width:768px){

    .edit-account > .change-info-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: initial;
    }
}

@media (min-width:991px) {
    .edit-account .change-info-container .change-other-info{
        font-size: 16px;
    }
}