.account-container {
    /* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;  */
    background: #F9F9F9;
    min-height: 100vh;
    min-width: 100vw;
    

}

.account {
    width: 100%;
    max-width: 1200px;
    background: transparent;
    
    margin: 0 auto;
    background-size: cover;
    border-radius: 2px; 
}

.profile-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.profile-layout div:nth-child(2) .inactive-posts {
    margin: 40px 0px;
}



.profile-layout .inactive-posts > div > div button {
    height: 60px;
}

.profile-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #444444;
    flex: 1;
    margin: 0 10px;
}

.profile-contact .edit-profile {
    background: linear-gradient( 135deg, rgb(34, 202, 34) 10%, #49C628 100%);
    color: white;
    height: 25px;
    width: 100px;
    font-size: 12px;
    border: rgb(23, 187, 23) 1px solid;
    border-radius: 2px;
    text-shadow: 0.5px 0.5px 2px black;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.445);
}

.profile-contact .edit-profile:active {
    box-shadow: none;
}

.profile-contact .image-container {
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.445);
}

.profile-contact img {
    width: 200px;
    
}

.profile-contact div span {
    font-size: 18px;
}

.profile-contact > *+* {
    margin: 10px 0px;
}

.active-posts > span, .inactive-posts > span{
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
}

.active-posts div > *+*, .inactive-posts div > *+* {
    margin: 10px 0px;
}

.active-posts > span, .inactive-posts > span{
    font-size: 22px;
    color: white;
    padding: 5px;
    border-radius: 2px;
    
}

.active-posts > span {

    background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
    border: 1px solid #28C76F;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.445);
}

.inactive-posts > span {
    width: 100%;
    border: 1px solid #B3315F;
    background-image: linear-gradient( 135deg, #FFAA85 10%, #B3315F 100%);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.445);
    
}

.account .active-posts a, .account .inactive-posts a{
    text-decoration: none;
}

.account-container .item-name {
    color: #101BAA;
}

.account-container .item-name:hover {
    color: #B75B22;
}

.account-posts {
    width: 90%;
}

.account-container .item-name, .itemPrice {
    font-size: 12px;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.social-media img {
    width: 40px;
    margin: 0 10px;
}

@media (min-width:768px){
    .profile-layout {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-start;
    }
    .account-posts {
        width: 70%;
    }

    
}

@media (min-width:991px) {
    .account-container .item-name {
        font-size: 16px;
    }

    .account-container .itemPrice {
        font-size: 16px;
    }
}

@media (min-width:1200px) {
    .account-container .item-name {
        font-size: 18px;
    }

    .account-container .itemPrice {
        font-size: 18px;
    }
}