.profile-container {
    max-width: 1200px;
    text-align: center;
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.profile-container > *+* {
    margin: 20px 0px;
}

.profile-container > div:first-child {
    background-image: url('../../media/login.jpg');
    background-position: center center;
    border-radius: 2px;
}

.profile-container > div:first-child > h1{
    font: bolder 12vw "Montserrat";
    font-size: 36px;
    color: black;
    mix-blend-mode: screen;
    background-color: rgba(204, 199, 197, 0.877);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.445);
    padding: 20px;  
    border-radius: 2px;
}

.user-info-container {
    display: flex;
    flex-direction: column;
}

.user-info-container > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.user-info-container > *+* {
    margin: 0px;
}

.user-info-container > div > div {
    display: flex;
    flex-direction: column;
}

.user-info-container > div > *+*{
    margin: 10px 0px;
}

.user-info-container .image-container img {
    width: 100%;
}

.user-info-container .profile-info {
    display: flex;
    
    align-items: center;
    padding: 20px;
    flex-direction: column;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.445);
    flex:1;
    border-radius: 2px;
    margin-bottom: 20px;
}

.user-info-container > div:nth-child(2) {
    width: 100%;
}

.user-info-container .profile-info span {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.user-info-container .image-container {
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.445);
    margin-bottom: 10px;
}

.profile-container .active-posts {
    display: flex;
    align-items: center;
   
    flex-direction: column;
    
    flex: 1;
    border-radius: 2px;
}

.profile-container .active-posts span {
    width: 100%;
}

.profile-container .active-posts a {
    width: 100%;
    text-decoration: none;
}

.profile-container .social-media {
    display: flex;
    flex-direction: row;
}

.reviews > *+* {
    margin: 5px 0px;
}

.write-review {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.write-review-container {
    margin: 10px 0px;
}

.write-review > span:first-child{
    font-weight: bolder;
    margin-bottom: 10px;
}

.write-review button {
   background: linear-gradient( 135deg, #70F570 10%, #49C628 100%);
   width: 150px;
   height: 40px;
   border-radius: 4px;
   border: none;
   font-size: 16px;
   color: white;
   font-weight: bolder;
   box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.445);
}

.write-review > div:nth-child(2){
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    flex-direction: column;
}

.write-review > div:nth-child(2) >*+* {
    margin:10px;
}

.write-review > div:nth-child(2) >div:first-child{
    display: flex;
    flex-direction: column;
    margin-right: 0px; 
}

.write-review > div:nth-child(2) >div:last-child {
    width: 100%;
}

.write-review > div:nth-child(2) >div:last-child >div{
    overflow: scroll;
    border: lightgray solid 1px;
}

.reviews {
    width: 100%;
}
.reviews > span {
    background: linear-gradient(135deg, #667db6, #0082c8, #0082c8);
    border: 1px solid #0082c8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.445);
    width: 100%;
    font-size: 22px;
    color: white;
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 5px black;
}

.user-reviews > div:first-child > span:first-child > div:first-child {
    display: flex;
    transform: scale(0.8);
}

.profile-container .myTabs > div:nth-child(2) > div > div:nth-child(2) > div > div > div.reviews > div > div:nth-child(1) > span:nth-child(1) > div > span:nth-child(1){
    margin: 0px;
}

.profile-container .myTabs > div:nth-child(2) > div > div:nth-child(2) > div > div > div.reviews > div > div:nth-child(1) > span:nth-child(1) > div {
    margin-bottom: 10px;
}

@media (min-width: 768px){
    .user-info-container > *+* {
        margin: 0px 0px 0px 20px;
    }
}

@media (min-width: 991px){
    .user-info-container{
        flex-direction: row;
    }

    .profile-container .itemPrice {
        font-size: 18px;
    }

    .write-review > div:nth-child(2) >div:first-child{
        margin-right: 20px; 
    }

    .profile-container .item-name {
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        font-size: 18px;
        color: #101BAA;
    }
    
    .profile-container .item .item-description {
        font-size: 14px;
    }
    
    .profile-container .date-posted {
        font-size: 14px;
        font-weight: bolder;
    }

    .user-reviews > div:first-child > span:first-child > div:first-child {
        display: flex;
        transform: scale(1);
    }
}