.add-post-display .buttonContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.buttonContainer > button:last-child {
    background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
}

.add-post-display .image-uploads .edit-image-upload img{
    width: 120px;
    
}

.add-post-display .image-uploads .edit-image-upload {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.add-post-display .image-uploads .edit-image-upload button {
    width: 100%;
    background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
}