@import url('https://fonts.googleapis.com/css?family=Raleway|Russo+One|Lobster|Montserrat:700');
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
  min-height: 100vh;
  min-width: 100vw;
}

.App {
  text-align: center;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}